* {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

img.logo {
  float: left;

  border: 0px solid #ddd;
  border-radius: 4px;

  position: absolute;

  width: 50px;
  height: 50px;

  padding: 5px;

  margin-top: -130px;
}

.topnav {
  font-size: 22px;

  position: absolute;

  margin-top: -110px;
  margin-left: 1150px;
}

a.active {
  text-decoration: none;
  color: #95f9e3;
}

a.btn {
  text-decoration: none;
  color: black;
}

.btn:hover {
  color: aquamarine;
}

.btn:click::after {
  color: #b87fdb;
}

body {
  font-family: Roboto, sans-serif;
}

/* Prologue and introduction of Project TeleVU */
/* Prologue and introduction of Project TeleVU */
/* Prologue and introduction of Project TeleVU */
/* Prologue and introduction of Project TeleVU */
/* Prologue and introduction of Project TeleVU */

.introduction {
  position: relative;

  margin-top: 150px;
}

.intro_dec {
  background-color: black;
  background-image: linear-gradient(
    -45deg,
    rgba(0, 133, 255, 1),
    rgba(51, 255, 0, 1)
  );
  background-size: 100%;
  background-repeat: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin-top: 100px;
  margin-bottom: 50px;

  text-align: center;
  font-size: 65px;
}
