* {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

img.logo {
  border: 0px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 767px) {
  .topnav {
    font-size: 22px;
    float: right;

    width: 300px;

    margin-right: -850px;
  }

  a.active {
    text-decoration: none;
    color: #95f9e3;
  }

  a.btn {
    text-decoration: none;
    color: black;
  }

  .btn:hover {
    color: aquamarine;
  }

  .btn:click::after {
    color: #b87fdb;
  }

  body {
    font-family: Roboto, sans-serif;
  }
}

/* CONTACT FORM INTRODUCTION */
/* CONTACT FORM INTRODUCTION */
/* CONTACT FORM INTRODUCTION */
/* CONTACT FORM INTRODUCTION */
/* CONTACT FORM INTRODUCTION */

@media only screen and (max-width: 767px) {
  .title {
    font-size: 50px;

    margin-top: 50px;
    margin-left: 680px;
  }

  .intro {
    font-size: 22px;

    width: 850px;

    margin-top: 50px;
    margin-left: 300px;
    margin-bottom: 70px;
  }
}

/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */
/* LAST BUTTON OF THE PAGE */

@media only screen and (max-width: 767px) {
  .home {
    font-size: 20px;

    box-sizing: border-box;
    border-radius: 15px;
    background-color: #feca6e;

    padding: 5px;

    margin-top: 7px;
    margin-left: 300px;
  }

  .centerbtn {
    font-size: 20px;

    box-sizing: border-box;
    border-radius: 15px;
    background-color: #feca6e;
    width: 180px;

    position: absolute;

    padding: 5px;

    margin-left: 230px;
  }

  .contacts {
    font-size: 20px;

    box-sizing: border-box;
    border-radius: 15px;
    background-color: #feca6e;
    width: 190px;

    position: absolute;

    padding: 5px;

    margin-left: 620px;
  }

  button:hover {
    background-color: #f88379;

    margin-top: -20px;
  }

  button:click::after {
    background-color: #ff4040;
  }

  .link {
    text-decoration: none;
    color: black;
  }

  .space {
    margin-bottom: 30px;
  }
}

/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */
/* THE CONCLUSION SECTION */

@media only screen and (max-width: 767px) {
  .ending {
    width: 1600px;
    height: 220px;

    position: absolute;

    opacity: 0.8;
    z-index: 1000px;

    margin-top: -55px;
    margin-left: -100px;
    margin-bottom: -50px;
  }

  .name {
    font-weight: 700;
    position: relative;

    width: 200px;

    margin-top: 130px;
    margin-left: 620px;
  }

  .names {
    font-weight: 700;
    position: relative;

    width: 200px;

    margin-left: 620px;
  }

  .name-s {
    color: blue;
    font-weight: 700;
    position: relative;

    width: 500px;

    margin-left: 470px;
  }
}
