/* ================ DOCUMENT SETTING ================= */
* {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 15px;
}

body {
  font-size: 15px;
  font-weight: 400;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo {
  width: 47.61px;
  height: auto;
}

h1 {
  position: relative;

  text-align: center;
  font-size: 64px;
  font-weight: 400;

  margin-top: 161px;
}

h3 {
  position: absolute;

  font-size: 20px;
  font-weight: 700;

  margin-top: 25px;
  margin-left: 141.82px;
}

p,
li {
  width: 808px;

  margin-left: 251px;
}

li {
  margin-top: 10px;
}

/* ================ NAVIGATION SETTING ================= */
.navigation {
  margin-left: 0px;
}

.floating-menu {
  background: #add8e6;
  border-radius: 15px;

  width: 100px;
  position: fixed;
  opacity: 1;
  z-index: 100;

  padding: 3px;

  margin-top: 100px;
  margin-left: -142px;
}

.floating-menu:hover {
  box-shadow: 0 5px 5px 5px rgba(173, 216, 230, 0.8);
  opacity: 1;
  transition-duration: 1s ease-in-and-out;

  margin-left: -50px;
}

.floating-menu a,
.floating-menu p {
  color: black;
  display: block;
  font-size: 0.9em;
  width: 140px;

  padding-block: 3px;
  margin: 0px;
}

.floating-menu p {
  margin-left: 10px;
}

.linksize {
  width: fit-content;

  padding-left: 30px;
}

.linksize:hover {
  color: white;
}

/* ================ PROJECT OVERVIEW ================= */
/* Project Overview - word*/
.original {
  margin-top: 72px;
  margin-left: 119px;
}

.revised {
  text-align: right;

  margin-top: 40px;
  padding-left: 125px;
}

/* Project Overview - pictures (applied to every picture) */
.overview {
  width: 328px;
  height: 217px;

  border-radius: 40px;

  margin-left: 110px;
  margin-bottom: 10px;

  cursor: pointer;
}

.overview:hover {
  border: #add8e6 1px solid;
}

.reportVU {
  margin-left: 28px;
}

.vid {
  width: 328px;
  height: 217px;

  margin-left: 28px;
  margin-bottom: 10px;
}

/* Project Overview - span tags (applied to every span tag for description */
.tag {
  margin-left: 220px;
}

.reportTag {
  margin-left: 240px;
}

.vidTag {
  margin-left: 240px;
}

/* Project Overview - span tags (applied to individual span tag for description */
.reportRedesign {
  margin-left: 200px;
}

.redesignTag {
  margin-left: 210px;
}

/* ================ EXPANSION EFFECTS FOR PROJECT OVERVIEW PICTURES ================= */
/* <<<<<<<<<<<< FIRST PICTURE >>>>>>>>>>>>> */
#box {
  display: none;

  background-color: #fafafa;
  border-radius: 40px;

  width: 1045.97px;
  height: 692px;

  margin-top: 10px;
  margin-left: 117px;
}

.image1 {
  width: 773px;
  height: auto;

  margin-top: 58px;
  margin-left: 132px;
}

.message {
  width: 780px;
  margin-left: 132px;
}

/* <<<<<<<<<<<< SECOND PICTURE >>>>>>>>>>>>> */
#box2 {
  display: none;

  background-color: #fafafa;
  border-radius: 40px;

  width: 1045.97px;
  height: 692px;

  margin-top: 10px;
  margin-left: 117px;
}

.image2 {
  width: 773px;
  height: auto;

  margin-top: 58px;
  margin-left: 132px;
}

.message2 {
  width: 780px;
  margin-left: 132px;
}

/* <<<<<<<<<<<< THIRD PICTURE >>>>>>>>>>>>> */
#box3 {
  display: none;

  background-color: #fafafa;
  border-radius: 40px;

  width: 1045.97px;
  height: 692px;

  margin-top: 10px;
  margin-left: 117px;
}

.image3 {
  width: 773px;
  height: auto;

  margin-top: 58px;
  margin-left: 132px;
}

.message3 {
  width: 780px;
  margin-left: 132px;
}

/* <<<<<<<<<<<< FOURTH PICTURE >>>>>>>>>>>>> */
#box4 {
  display: none;

  background-color: #fafafa;
  border-radius: 40px;

  width: 1045.97px;
  height: 692px;

  margin-top: 10px;
  margin-left: 117px;
}

.image4 {
  width: 773px;
  height: auto;

  margin-top: 58px;
  margin-left: 132px;
}

.message4 {
  width: 780px;
  margin-left: 132px;
}

/* <<<<<<<<<<<< FIFTH PICTURE >>>>>>>>>>>>> */
#box5 {
  display: none;

  background-color: #fafafa;
  border-radius: 40px;

  width: 1045.97px;
  height: 692px;

  margin-top: 10px;
  margin-left: 117px;
}

.image5 {
  width: 773px;
  height: auto;

  margin-top: 58px;
  margin-left: 132px;
}

.message5 {
  width: 780px;
  margin-left: 132px;
}

/* <<<<<<<<<<<< LAST PICTURE >>>>>>>>>>>>> */
#box6 {
  display: none;

  background-color: #fafafa;
  border-radius: 40px;

  width: 1045.97px;
  height: 692px;

  margin-top: 10px;
  margin-left: 117px;
}

.image6 {
  width: 773px;
  height: auto;

  margin-top: 58px;
  margin-left: 132px;
}

.message6 {
  width: 780px;
  margin-left: 132px;
}

/* ================ DESIGN CATEGORY & TOOLS ================= */
table {
  font-weight: 600;

  margin-left: 250px;
}

td {
  text-align: center;
  width: 280px;

  background-color: #9addfb;
  border-radius: 5px;

  padding: 5px;
}

.even {
  font-weight: 300;

  margin-top: -27px;
  margin-left: 400px;
}

.odd {
  margin-top: -82px;
  margin-left: 720px;
}

.quartet {
  font-weight: 300;

  margin-top: -27px;
  margin-left: 820px;
}

.tools {
  margin-top: 25px;
  margin-left: 720px;
}

/* ================ CONTEXT & BACKGROUND ================= */
.portal {
  width: 768px;
  height: auto;

  margin-top: 31px;
  margin-left: 251px;
}

/* ================ PROJECT SCHEDULE ================= */

.delivery2 {
  margin-left: 655px;
  margin-top: -234px;
}
.deliverytitle {
  background-color: deepskyblue;

  width: 350px;
  padding: 15px;

  border-radius: 10px 0px 0px 0px;
}

.deliverytitle2 {
  background-color: deepskyblue;

  width: 350px;
  padding: 15px;

  border-radius: 0px 10px 0px 0px;
}

.delivery {
  font-weight: 300;

  border-radius: 0px;
}

.date {
  padding-top: 22px;
  padding-bottom: 22px;
}

.last {
  border-radius: 0px 0px 0px 10px;
}

.last2 {
  border-radius: 0px 0px 10px 0px;
}
/* ================ PORTFOLIO MENU SETTING ================= */
a {
  color: black;
}
/* ================ RESEARCH CARD SETTING ================= */
.research {
  width: 377.51px;
  height: 447px;

  margin-top: 131px;
  margin-left: 251px;
}

.picture {
  width: 377.51px;
  height: 314px;

  margin-left: 0px;
  margin-top: 0px;
}

.box {
  height: 146px;

  background-color: #fafafa;

  margin-top: -16px;
}

.box:hover {
  background-color: #9addfb;
  transition: 0.5s ease-in-out;
}

.word {
  position: absolute;

  width: 316px;

  margin-top: 70px;
  margin-left: 40px;
}

/* ================ DESIGN CARD SETTING ================= */
.design {
  margin-top: -447px;
  margin-left: 655px;
}

/* ================ USABILITY CARD SETTING ================= */
.usability {
  margin-top: 25px;
  margin-left: 251px;
}

.testing {
  margin-left: 110px;
}
/* ================ END BANNER SETTING ================= */
.banner {
  width: 1470px;
  height: 200px;

  margin-top: 50px;
  margin-left: -80px;
  margin-bottom: -30px;
}

.ending {
  position: absolute;

  margin-top: 90px;
  margin-left: 603px;
  margin-bottom: 30px;
}

.endin {
  position: absolute;

  margin-top: 120px;
  margin-left: 595px;
}

.end {
  position: absolute;

  margin-top: 150px;
  margin-left: 560px;
}

.End {
  position: absolute;
  color: blue;

  margin-top: 180px;
  margin-left: 480px;
}
