body {
  margin-top: 60px;
  margin-left: 71px;
  margin-right: 71px;
}

.logo {
  width: 47.61px;
  height: 54px;
}

.nav {
  text-decoration: none;
  color: black;
}

.home {
  font-size: 24px;

  margin-top: 65px;
  margin-left: 1015px;
}

.about {
  font-size: 24px;

  margin-left: 10px;
}

.contact {
  font-size: 24px;

  margin-left: 10px;
}
